/* Car Button related css */
.btn-yours {
  top: 145;
  position: absolute;
  background-color: #fff6fb;
  color: #fc5bb6;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.2);
  padding: 15px 26px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.btn-yours:hover {
  background-color: #ffeffa;
}
.btn-yours:active {
  box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

 /* car has to be flipped horizontally so that when the button isnt hovered/clicked, it drives back to the button to the left. */
.car {
  width: 30px;
  left: 0px;
  z-index: -1; /* sends car behind button */
  position: relative;
  transform: scaleX(-1); /* flips the car horizontally */

  transition-property: left, transform; /* pairs with transition duration */
  transition-duration: 1s, 0s; /* 1second transition for left transform, 0s transition for scaleX transform */
}
.btn-yours:hover + .car { /* hover the button to affect the car */
  left: 100px;
  transform: scaleX(1); /* flips car the correct direction when its driving */
  transition-property: left, transform;
  transition-duration: 1s, 0s;
}
.btn-yours:focus + .car { /* click the button to affect the car. */
  left: 90%; /* sends car further away */
  transform: scaleX(1);
  transition-property: left, transform;
  transition-duration: 3s, 0s;
}

/*In case you want to try make the car shake / or add walking motion to animals:*/
/* .btn-yours:hover + .car {
  left: 100px;
  transform: scaleX(1);
  transition-property: left, transform;
  transition-duration: 1s, 0s;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.btn-yours:focus + .car {
  left: 700px;
  transform: scaleX(1);
  transition-property: left, transform;
  transition-duration: 2s, 0s;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(0px, 1px) rotate(2deg); }
  10% { transform: translate(0px, 0px) rotate(-2deg); }
  20% { transform: translate(0px, 1px) rotate(2deg); }
  30% { transform: translate(0px, 0px) rotate(-2deg); }
  40% { transform: translate(0px, 1px) rotate(2deg); }
  50% { transform: translate(0px, 0px) rotate(-2deg); }
  60% { transform: translate(0px, 1px) rotate(2deg); }
  70% { transform: translate(0px, 0px) rotate(-2deg); }
  80% { transform: translate(0px, 1px) rotate(2deg); }
  90% { transform: translate(0px, 0px) rotate(-2deg); }
  100% { transform: translate(0px, 1px) rotate(2deg); }
} */

/* Freaky-button related css */
.hayato {
  background-color: lightblue;
  border-radius: 16px;
  font-size: 1.5em;
  font-weight: bold;
  border: 2px solid lightgrey;
  cursor: pointer; /* changes cursor to nice pointer for links */
  color: white;
  
  width: 180px;
  height: 120px;
  margin: 0 auto; /* centers itself horizontally in container */
  padding: 0;

  overflow: hidden; /* (essential) Hides anything that overflows outside of width/height of container */

  display: flex; /* flex centering to get image to sit in center of button */
  align-items: center;
  justify-content: center;
  position: relative; /* allows for position: absolute */
}

.hayato:hover {
  background-color: none; /* removes the background on button hover */
}

.hayato img {
  position: absolute; /* centers it */
  width: 100%;
  height: auto;
  opacity: 0; /* by default is hidden. */
}
.hayato:hover img { /* on button hover, the image is affected */
  opacity: 1; /* becomes visible */
  width: 150%;

  transition: all 1s ease-in-out; /* adds transition time of 1 second to everything img-related */
  animation: shake 0.3s; /* adds a custom-made animation to the image */
  animation-iteration-count: infinite;
}












